@-moz-document domain("adhamdannaway.com") {
    :root,
    .__variable_4bc053 {
        --font-montserrat: var(--font-body);
        --font-open-sans: var(--font-body);
        --font-karla: var(--font-body);
    }
}
