@-moz-document domain("atlassian.com"), domain("atlassian.net") {
    .css-1ckttv1,
    .css-mfjdp3,
    .css-1cab8vv,
    .css-10ftr47,
    .css-dve5vg,
    .css-wp7pw9,
    .css-nkscan,
    .css-rj9h1k [data-item-title],
    .cc-b0hel9,
    .cc-1kwkmuk,
    .css-17g5gda,
    .cc-g6a23j,
    .css-p7bkws,
    ._11c81oud,
    .css-sbi9k7,
    .cc-dqlzqj,
    .cc-1b2rkmw,
    .PageContent a,
    .fc-col-header-cell-cushion,
    .css-nd157c
        .fc-daygrid.fc-dayGridMonth-view.fc-view
        .fc-scrollgrid-sync-inner
        .fc-col-header-cell-cushion,
    .css-nd157c
        .fc-daygrid.fc-dayGridMonth-view.fc-view
        .fc-daygrid-day-top
        .fc-daygrid-day-number,
    [lang|="en"],
    ._6v24qk37 > span,
    ._11c8qk37,
    .css-1s0jxd,
    .css-13fiy6z,
    .css-1dq7sg,
    ._swxz1doa input,
    ._10wj1doa input:not([data-compact]),
    .css-dbb791,
    .css-nsg8gc,
    .css-90d71b,
    .css-ftusld [data-item-title],
    .css-ryc7xt [data-item-title],
    .css-7svesl,
    .css-i5bff4,
    ._11c8qk37,
    .css-miq4st,
    .css-13ma1mt,
    .css-1kwkmuk,
    .css-4qa0kk > button,
    .css-sflwy6,
    .css-1j8cxus,
    .css-1j8cxus,
    .css-1ad51f5,
    #search-dialog-dialog-wrapper,
    #search-dialog-dialog-wrapper button,
    #search-dialog-dialog-wrapper div,
    #search-dialog-dialog-wrapper span,
    #search-dialog-dialog-wrapper a,
    .css-1a6bu1g,
    .css-hmw4tk,
    .css-1ulevk8,
    .css-h6y1gu,
    .css-1b1gjsk,
    .css-1rny4da,
    .css-zvtm5t,
    ._11c8o0gd,
    .css-2b8pny,
    .css-1nyeb6s [data-item-title],
    .css-8mm3zb {
        font-family: var(--font-body);
    }

    ._ect41kw7,
    .css-xtidjr,
    .css-15dto1c,
    .css-1b2rkmw,
    .css-57zokn,
    .css-1vvgscx,
    .css-1upbkg3,
    ._11c8iyik,
    ._11c81p5s,
    ._11c81bk4 {
        font-family: var(--font-heading);
    }

    .css-tgwxhq {
        mix-blend-mode: multiply;
    }

    ._p12fhwvj {
        max-width: 100%;
    }

    ._1bsbhwvj {
        width: 100%;
    }
}
