@-moz-document domain("console.aws.amazon.com"), domain("awsapps.com") {
    :root,
    html {
        --font-family-base-4om3hr: var(--font-body);
    }

    .awsui_root_18wu0_sime4_93:not(#\9),
    td a.awsui_link_4c84z_1c97a_93,
    td a.awsui_variant-secondary_4c84z_1c97a_140,
    td a.awsui_font-size-body-m_4c84z_1c97a_416,
    .awsui_link_4c84z_1vq6c_145:not(#\9),
    .awsui_input_2rhyz_1k2au_149:not(#\9),
    .awsui_root_18wu0_1gw4i_920:not(#\9),
    .awsui_root_2qdw9_1pda0_181:not(#\9),
    .awsui_text-content_6absk_1nfr0_146:not(#\9),
    .awsui_badge_1yjyg_5aue1_141:not(#\9),
    .awsui_root_2qdw9_19uh4_177:not(#\9),
    .awsui_input_2rhyz_1vyzh_145:not(#\9),
    .awsui_link_4c84z_mbpa7_141:not(#\9),
    .awsui_link_4c84z_iv0u7_141:not(#\9),
    .awsui_root_2qdw9_kiqfw_177:not(#\9),
    .awsui-date-time-range__quick-picks button,
    .awsui-date-time-range_responsive__quick-picks button,
    .Pg3ZaRLW11orNE3Vkp0vU .cwdb-widget :not(.cwdb-icon),
    .awsui_link_4c84z_qfgyb_141:not(#\9),
    .awsui_input_2rhyz_oflk9_145:not(#\9),
    .globalNav-22122 {
        font-family: var(--font-body);
    }

    td a.awsui_link_4c84z_1c97a_93,
    .awsui_input_2rhyz_7lwtk_97,
    .awsui_root_18wu0_1v7to_93,
    .awsui_link_4c84z_1c97a_93,
    .awsui_root_18wu0_1ezua_916:not(#\9),
    .awsui_root_18wu0_1ezua_916:not(#\9) span,
    .awsui_root_18wu0_1ezua_916:not(#\9) div,
    .awsui_link_4c84z_1rfbc_141:not(#\9),
    .awsui_link_4c84z_1rfbc_141:not(#\9) span,
    .awsui_link_4c84z_1rfbc_141:not(#\9) div,
    .awsui_input_2rhyz_ootl2_145:not(#\9),
    .awsui_input_2rhyz_ootl2_145:not(#\9) span,
    .awsui_input_2rhyz_ootl2_145:not(#\9) div,
    .logs__log-events-table-v3
        table:not(.awsui-cw-date-time-range-calendar-table)
        .logs__log-events-table--load-more-row,
    .logs__log-events-table-v3
        table:not(.awsui-cw-date-time-range-calendar-table)
        .logs__log-events-table--load-more-row
        span,
    .logs__log-events-table-v3
        table:not(.awsui-cw-date-time-range-calendar-table)
        .logs__log-events-table--load-more-row
        div,
    ._link--cookie-preferences_m66i2_134,
    [class^="search-"] {
        font-family: var(--font-body) !important;
    }

    .log-event-message-wrapper div,
    .log-event-message-wrapper span,
    .logs__log-events-table-v3
        table:not(.awsui-cw-date-time-range-calendar-table)
        .logs__log-events-table__cell,
    .logs__log-events-table-v3
        table:not(.awsui-cw-date-time-range-calendar-table)
        .logs__log-events-table__cell
        span,
    .logs__log-events-table-v3
        table:not(.awsui-cw-date-time-range-calendar-table)
        .logs__log-events-table__cell
        div {
        font-family: var(--font-mono);
    }
}
