@-moz-document domain("docker.com") {
    .css-gcog0b,
    .css-t4j4py,
    .css-gcog0b span,
    .css-t4j4py span,
    .css-1mlrzzp,
    .css-1cflq9f,
    .css-15lke85,
    .css-nj3q9y,
    .css-lnjl0y,
    .css-4bq826,
    .css-xl6l7x,
    .css-1drixb1,
    .css-jkz3lz,
    .css-qzgati {
        font-family: var(--font-heading);
    }

    .css-60kwwm,
    .css-1qvb5g8,
    .css-thb8mv,
    .css-1i8xc9e,
    .css-k8gt3l,
    .css-s6sbqv,
    .css-1bpoejz,
    .css-16nqpaz,
    .css-1ob1kdt,
    .css-1yxxi1a,
    .css-qp44ou,
    .css-14cr9vi,
    .css-kkhigg,
    .css-1e2zzdd,
    .css-1ppgxpc,
    .css-1xn85km,
    .css-1slmh1r,
    .css-1k57vl5,
    .css-11vn45j,
    .css-iipjc8,
    .css-11ayg0x,
    .css-17pdfo8,
    .css-8p22lp,
    .css-1n2ymja,
    .css-at29yj,
    .css-bcytde,
    .css-fzqf7f,
    .css-14lngvc,
    .css-jy7h27,
    .css-1by10hx,
    .css-1c3ljah,
    .css-1c48om4,
    .css-1wv0dth,
    .css-tvjjrq,
    .css-1523n6u,
    .css-qpok6y .MuiChip-label,
    .css-12pib0g,
    .css-7l1nta,
    .css-17wr3v0,
    .css-1s7o7cp,
    .css-3gou4x,
    .css-1eg9l22 .MuiChip-label,
    .css-x66c4e,
    .css-tqv3zf,
    .css-13pi9x0 {
        font-family: var(--font-body);
    }

    div .css-j7x1l3 .css-gg9902,
    .css-gw90cj,
    .css-1kmdt8g {
        font-family: var(--font-mono);
    }
}
