@-moz-document domain("docker.com") {
    .css-gcog0b,
    .css-t4j4py,
    .css-gcog0b span,
    .css-t4j4py span,
    .css-1mlrzzp,
    .css-1cflq9f,
    .css-15lke85,
    .css-nj3q9y,
    .css-lnjl0y,
    .css-4bq826,
    .css-xl6l7x,
    .css-1drixb1,
    .css-jkz3lz,
    .css-qzgati {
        font-family: var(--font-heading);
    }

    .css-60kwwm,
    .css-1qvb5g8,
    .css-thb8mv,
    .css-1i8xc9e,
    .css-k8gt3l,
    .css-s6sbqv,
    .css-1bpoejz,
    .css-16nqpaz,
    .css-1ob1kdt,
    .css-1yxxi1a,
    .css-qp44ou,
    .css-14cr9vi,
    .css-kkhigg,
    .css-1e2zzdd,
    .css-1ppgxpc,
    .css-1xn85km,
    .css-1slmh1r,
    .css-1k57vl5,
    .css-11vn45j,
    .css-iipjc8,
    .css-11ayg0x,
    .css-17pdfo8,
    .css-8p22lp,
    .css-1n2ymja,
    .css-at29yj,
    .css-bcytde,
    .css-fzqf7f,
    .css-14lngvc,
    .css-jy7h27,
    .css-1by10hx,
    .css-1c3ljah,
    .css-1c48om4,
    .css-1wv0dth,
    .css-tvjjrq,
    .css-1523n6u,
    .css-qpok6y .MuiChip-label,
    .css-12pib0g,
    .css-7l1nta,
    .css-17wr3v0,
    .css-1s7o7cp,
    .css-3gou4x,
    .css-1eg9l22 .MuiChip-label,
    .css-x66c4e,
    .css-tqv3zf,
    .css-13pi9x0,
    .css-1qba9i9,
    .css-ur885h,
    .css-6zfur1,
    .css-13nn33d,
    .css-1gk06cf,
    .css-9fbq9l,
    .css-oxoovy,
    .css-1hx9804,
    .css-743pyb,
    .css-n3j2n3,
    .css-14wlgv0,
    .css-5qd95q,
    .css-17651wg,
    .css-9go4un,
    .css-h12dqj,
    .css-1lhgacn,
    .css-n3d4v7,
    .css-101ub9y,
    .css-mtizov,
    .css-1e1wcj8,
    .css-t9xwr7,
    .css-edqjv1,
    .css-zmesii,
    .css-wi27oe,
    .css-1nbrvo7,
    .css-9r538k,
    .css-2dr0c7,
    .css-1s38d6i,
    .css-1o0k36e,
    .css-69jslx .MuiChip-label,
    .css-m2f26v,
    .css-103c6v8,
    .css-1ljrk4d,
    .css-1yov9qf,
    .css-aw8by1,
    .css-49iwh7,
    .css-shh38r,
    .css-5qrq0a,
    .css-aw8by1,
    .css-jvbbb7,
    .css-189n366,
    .css-1hn72p3,
    .css-h8ro9v,
    .css-1d9bvuh,
    .css-xz48r4,
    .css-1mxhtb9,
    .css-ojf6ra,
    .css-1h662zc,
    .css-1g030tl,
    .css-3f6rb1,
    .css-1l2u9jb,
    .css-1l2u9j,
    .css-2nc4y5,
    .css-ivbmq1,
    .css-1t3qnrs,
    .css-2moywj,
    .css-1wuevzr,
    .css-4gs9eb,
    .css-1kfrs50,
    .css-11eyol6,
    .css-p1vwq2,
    .css-1sb8966 {
        font-family: var(--font-body);
    }

    div .css-j7x1l3 .css-gg9902,
    .css-gw90cj,
    .css-1kmdt8g,
    .css-1wzlsx3,
    .css-76e5bc,
    .css-duax8q,
    .css-fucjz,
    .css-63f7jj {
        font-family: var(--font-mono);
    }
}
