@-moz-document domain("google.com"), domain("youtube.com") {
    :root {
        --mdc-typography-body2-font-family: var(--font-body);
        --dt-title-medium-font: var(--font-body);
        --dt-body-small-font: var(--font-body);
        --dt-label-medium-font: var(--font-body);
        --gm3-text-field-outlined-input-text-font: var(--font-body);
        --gm3-button-outlined-label-text-font: var(--font-body);
        --gm3-text-field-character-counter-supporting-text-font: var(
            --font-body
        );
    }

    .m2 .freebirdCommonAnalyticsResponseSummaryChip,
    .m2 .freebirdCommonAnalyticsTextResponse,
    .m2 .freebirdAnalyticsViewQuestionTitle,
    .m2 .freebirdAnalyticsViewQuestionResponsesCount,
    .freebirdFormviewerViewHeaderDescription,
    .freebirdCustomFont,
    .m2 .freebirdCustomFont,
    .freebirdCustomFont .exportContentArea .exportTextarea,
    .m2 .freebirdCustomFont .exportContentArea .exportTextarea,
    .freebirdCustomFont .exportFieldContainer .exportField,
    .m2 .freebirdCustomFont .exportFieldContainer .exportField,
    .m2 .freebirdCustomFont .exportPlaceholder,
    .m2 .freebirdCustomFont .exportLabel,
    .freebirdFormviewerViewHeaderRequiredLegend,
    .freebirdFormviewerComponentsQuestionBaseDescription,
    .freebirdFormviewerComponentsQuestionTextTextInput .exportInput,
    .freebirdFormviewerComponentsQuestionTextTextInput .exportTextarea,
    .freebirdFormviewerComponentsQuestionRadioLabel,
    .lJ9FBc input[type="submit"],
    .gbqfba,
    .T8VaVe,
    .Rq5Gcb,
    .MBeuO,
    .q8U8x,
    .wHYlTd,
    yt-chip-cloud-chip-renderer,
    #video-title.ytd-compact-video-renderer,
    ytd-video-owner-renderer[watch-metadata-refresh]
        #owner-sub-count.ytd-video-owner-renderer,
    .button.ytd-text-inline-expander,
    yt-formatted-string.ytd-menu-service-item-renderer,
    .FMKtTb,
    .d2F2Td,
    .c07z9,
    .YrbPuc,
    .JgzqYd,
    #result-stats,
    .Pqkn2e,
    .mfsgsd,
    .g7pt6d .JCzEY,
    .CSkcDe,
    .related-question-pair div.iDjcJe,
    .yGdMVd.ZxoDOe .PyJv1b .yKMVIe,
    .REySof,
    textarea.gLFyf,
    .YacQv,
    .hXhhq,
    .M6CB1c,
    .VlHyHc,
    .cF4V5c.cF4V5c-WAutxc-j4gsHd g-menu-item a,
    .xtp0If,
    .vlYdle,
    .QTGV3c,
    .VfPpkd-rymPhb-fpDzbe-fmcmS,
    .VfPpkd-rymPhb-L8ivfd-fmcmS,
    .sRi2ab,
    .rp10kf,
    .LJOi6e,
    .FShBrd .oY67Ce,
    .Hgmosd .IlZEuc,
    .IlZEuc,
    .wJCOBf,
    .eYGoGb,
    .gjxOad,
    .hcfe input,
    .hcfe select,
    .hcfe textarea,
    a.user-feedback-link,
    .title.ytd-guide-entry-renderer,
    ytd-active-account-header-renderer[enable-handles-account-menu-switcher]
        #account-name.ytd-active-account-header-renderer,
    yt-formatted-string.ytd-google-account-header-renderer,
    #channel-title.ytd-account-item-renderer,
    yt-formatted-string.ytd-account-item-renderer[secondary],
    #subtitle.ytd-item-section-header-renderer,
    #title.ytd-settings-options-renderer,
    #title.ytd-settings-switch-renderer,
    #text.ytd-settings-options-renderer,
    #subtitle.ytd-settings-switch-renderer,
    #text.ytd-page-introduction-renderer,
    #label.ytd-settings-checkbox-renderer,
    #label.ytd-settings-radio-option-renderer,
    #aside-text.ytd-settings-radio-option-renderer,
    #title.ytd-connected-app-renderer,
    #text.ytd-connected-app-renderer,
    #title.ytd-video-description-transcript-section-renderer,
    #sub-header-text.ytd-video-description-transcript-section-renderer,
    #subtitle.ytd-video-description-infocards-section-renderer,
    .gb_re,
    .hfto6b .O5OMdc,
    .FKiqKb .wWf0Bc,
    .cmEq8b .Z4BnXb .njhDLd,
    .Zc1Emd,
    .PAn4gd .FvYVyf,
    .WK4gNc.MiXMWc .jy2fzc,
    .WK4gNc.MiXMWc .njhDLd,
    .Yb,
    #search-input.ytd-searchbox-spt input,
    yt-chip-cloud-chip-renderer[modern],
    .YMNIz::after,
    .zeumMd,
    body,
    .VfPpkd-StrnGf-rymPhb-L8ivfd-fmcmS,
    .klw8Rb,
    .ZvUowc,
    .nMU0jc,
    .If9fEc,
    .KP8WDe,
    .QyLBoe,
    .BowpK,
    .qdOxv-fmcmS-wGMbrd,
    .YmvwI,
    .Lu57id,
    .jloFI,
    .hdzaWe,
    .e9EfHf,
    .fm06If .ILfuVd,
    .c2xzTb .ILfuVd,
    .Jb0Zif .c2xzTb .ILfuVd,
    .MBeuO,
    .IFnjPb,
    .p4wth,
    .g,
    .Fzsovc,
    .YWpX0d,
    .BwPElf .toI8Rb,
    .JMWMJ .LSYTNd,
    .toI8Rb,
    .cS4Vcb-pGL6qe-fwJd0c,
    .cS4Vcb-pGL6qe-k1Ncfe,
    .cS4Vcb-pGL6qe-lfQAOe,
    .cS4Vcb-pGL6qe-mji9Ze,
    .cS4Vcb-PvZLI-ZWuC2-upF8td {
        font-family: var(--font-body);
    }

    .nRhiJb-LgbsSe,
    .nRhiJb-BkAck.nRhiJb-BkAck-OWXEXe-VgwJlc.glue-expansion-panel__button,
    .nRhiJb-Iya41-SKd3Ne {
        font-family: var(--font-body);
        font-size: 0.85rem;
    }

    .glue-header__link,
    .nRhiJb-rSCjMe-hSRGPd {
        font-family: var(--font-body);
        font-size: 0.9rem;
    }

    .nRhiJb-rSCjMe .nRhiJb-rSCjMe-OWXEXe-UBMNlb,
    .nRhiJb-rSCjMe
        .nRhiJb-rSCjMe-OWXEXe-KMncC
        .nRhiJb-rSCjMe-OWXEXe-KMncC-fmcmS,
    .nRhiJb-MnozTc.nRhiJb-MnozTc-OWXEXe-MnozTc-wNfPc,
    .nRhiJb-MnozTc-OWXEXe-MnozTc-wNfPc.Qwf2Db-MnozTc,
    .Qwf2Db-MnozTc.Qwf2Db-MnozTc-OWXEXe-MnozTc-wNfPc,
    h1.ytd-watch-metadata,
    .w8NsKc,
    .pNj5qe,
    .bSfXh,
    .zDLOpb,
    .jPCT6,
    .Mnpw8b,
    .OThY8c,
    .eXSt3b,
    h2.helpcenter-title,
    .hcfe h1,
    .hcfe h2,
    .hcfe h3,
    .hcfe h4,
    .hcfe h5,
    #video-title.ytd-rich-grid-media,
    #channel-handle.ytd-active-account-header-renderer,
    h2.ytd-simple-menu-header-renderer,
    #name.ytd-page-introduction-renderer,
    #title.ytd-page-introduction-renderer #country-code,
    #title.ytd-video-description-infocards-section-renderer,
    .ha > .hP,
    ytd-watch-metadata[title-headline-xs] h1.ytd-watch-metadata {
        font-family: var(--font-heading);
    }

    .nRhiJb-MnozTc.nRhiJb-MnozTc-OWXEXe-MnozTc-qWD73c,
    .nRhiJb-MnozTc-OWXEXe-MnozTc-qWD73c.Qwf2Db-MnozTc,
    .Qwf2Db-MnozTc.Qwf2Db-MnozTc-OWXEXe-MnozTc-qWD73c,
    .nRhiJb-cHYyed,
    .nRhiJb-yePe5c .nRhiJb-DX2B6 .nRhiJb-BkAck.nRhiJb-BkAck-OWXEXe-TzA9Ye,
    .glue-footer__site-links-header,
    .glue-expansion-panels .nRhiJb-xvvC8d-ixDaue-fmcmS,
    .nRhiJb-Fx4vi,
    .nRhiJb-CL4aqd-j4gsHd,
    #content-text.ytd-comment-renderer,
    #label.ytd-compact-link-renderer {
        font-family: var(--font-body);
    }

    .CodeMirror pre.CodeMirror-line,
    .CodeMirror pre.CodeMirror-line-like,
    .CodeMirror pre.CodeMirror-line span,
    .CodeMirror pre.CodeMirror-line-like span {
        font-family: var(--font-mono);
    }

    code,
    kbd,
    pre,
    samp {
        font-size: 0.8em;
    }
}
