@-moz-document domain("paypal.com") {
    .Button-module_pp-button__OsSkY {
        font-family: var(--font-body);
    }

    .dSDdsE,
    .dBuHwb,
    .dBuHwb span {
        font-family: var(--font-mono);
    }

    .ecmRichText pre span {
        font-family: var(--font-mono) !important;
    }
}
